
.popup-finalizar {
    min-width: 58vw;
    min-height: 80vh;

    .topo {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        padding: 0px 0px 10px 0px;

        .botao-sair {
            display: flex;
            justify-content: space-between;
        }

        .subtitulo-pagamento {
            font-size: 24px;
        }

        .botao-fecha-pag {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            color: grey;
            display: flex;
            align-items: center;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.escolha-pagamento {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.simbol-forma {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-control-forma {
    width: 100%;
}

.radio-group {
    padding-left: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-group2 {
    padding-left: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subtitle-pagamento {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
}

.input-pagamento {
    width: 97%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #d4d3d3;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.input-pagamento-menor {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #d4d3d3;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.data-codigo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.botao-continue-pag {
    background-color: #e88099;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    border-radius: 15px;

    &:hover {
        opacity: 0.6;
    }
}

.parte-esquerda {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    justify-content: space-between;
}

.linha-englobadora-pagamento {
    display: flex;
    gap: 10px;
}

.parte-direita {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
    width: 50%;

    .sumario {
        font-family: 'Quicksand', sans-serif;
        color: black;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        text-align: start;
        padding-bottom: 10px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }

    .container-produtos {
        display: flex;
        width: 90%;
    }

    .container-produto-individual {
        display: flex;
        gap: 10px;
        background-color: rgb(216, 219, 219);
        border-radius: 15px;
        width: 100%;
        padding: 10px;
    }

    .informacoes-produto-pag {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        p {
            font-family: 'Quicksand', sans-serif;
        }
        
        .nome-loja-pag {
            color: black;
            font-size: 12px;
            font-weight: 500;
        }

        .nome-produto-pag {
            color: black;
            font-size: 15px;
            font-weight: 500;
        }

        .adicionais-produto-pag {
            color: black;
            font-size: 12px;
            font-weight: 500;
        }

        .quantidade-produto-pag {
            color: black;
            font-size: 12px;
            font-weight: 500;
        }
    }

    .container-preco-pagamento {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;

        p {
            font-family: 'Quicksand', sans-serif;
        }

        .sumario-preco {
            font-size: 20px;
            font-weight: 500;
            width: 100%;
        }

        .preco-pagamento {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: rgb(216, 219, 219);
            border-radius: 15px;
            margin-bottom: 5px;

            p {
                font-size: 15px;
                font-weight: 500;
                padding: 10px;
            }
        }
    }
}