.popup-produtoVer {
  display: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: black;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  padding: 10px;
  align-items: center;
  justify-self: center;

  .topo {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    border-bottom: 1px solid rgb(212, 211, 211);
  }
}

.custom-popover-produto {
  /* Define a largura e altura do Popover */
  width: 50%;
  height: 70%;
  border-radius: 20px; /* Bordas arredondadas */
}

.fecharPopupProduto {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imagensDoProdutoVer {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagemProdutoVer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
  background-size: cover;
}

.divProdutoVer {
  display: flex;
  align-items: center;
  justify-self: center;
}

.responsividadeProdutoVer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.InformacoesProdutoVer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 80%;
}

.informacoesProdutoVer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

.botoesProdutoVer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;;
  gap: 20px;

  button {
    width: 100%;
    height: 30px;
    background-color: #e88099;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

.nomeProdutoVer {
  font-size: 20px;
  font-weight: 600;
}

.precoProdutoVer {
  font-size: 20px;
  font-weight: 500;
}


/* responsividade */

@media (max-width: 720px) {
  .custom-popover-produto {
    /* Define a largura e altura do Popover */
    width: 90%;
    height: 70%;
    border-radius: 20px; /* Bordas arredondadas */
  }

  .responsividadeProdutoVer {
    display: flex;
    flex-direction: column;
  }

  .imagensDoProdutoVer {
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .InformacoesProdutoVer {
    width: 80%;
    margin-top: 20px;
  }

  .botoesProdutoVer {
    padding-bottom: 20px;
  }
}