* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcf9f5;
    overflow: hidden;
}

.Tudo {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    background-color: #fcf9f5;
}

.menu-esquerdo, .menu-direito {
    background-color: #ffffff;
    min-height: 100%;
}

.menu-esquerdo {
    padding-right: 0px;
}

.hotbar {
    display: grid;
    padding: 5px;
    margin: 0;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com frações iguais*/

    .botoes {
        display: flex;
        flex-direction: row;
        
        .button{
            display: flex;
            background-color: #ffffff;
            border-radius: 10px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 600;
            margin: 10px;
            cursor: pointer;
            height: 30px;
            align-items: center;
            padding: 10px;
            border: none;
            color: black;

            .foodImg {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            &:disabled {
                background-color: #fcf9f5;
                cursor: not-allowed;
            }
        }
    }

    & .botoes button:hover {
        opacity: 0.8;
    }

    .input-container {

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 15px;
        height: 30px;

        .button-input {
            display: flex;
            min-width: 90%;
            background-color: #ffffff;
            border-radius: 15px;
            min-height: 100%;
            align-items: center;
        }

        button {
            z-index: 99;
            border: none;
            color: grey;
            background-color: #ffffff;
            border-radius: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 100%;

            .menu-icon, .search-icon {
                background-color: #ffffff;
                width: 20px;
            }

            menu {
                border-radius: 15px;
            }

            .menu-icon {
                margin-left: 10px;
                border-radius: 10px;
            }

            .menu-icon:hover {
                opacity: 0.6;
            }

            .search-icon {
                margin-right: 10px;
                border-radius: 10px;
            }
        }

        input {
            border: none;
            background-color: #ffffff;
            min-width: 80%;
            outline: none;
            border-radius: 0px, 15px;
            min-height: 100%;
            margin-left: 15px;
            font-size: medium;
        }

    }

}

.conteudo {
    height: 100%;                                                                              ; /* Garante que a altura seja fixa */
    overflow-x: hidden; /* Remove o scroll horizontal */
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
    -ms-overflow-style: none; /* Para o IE e Edge Legacy */
}

.conteudo::-webkit-scrollbar {
    display: none;
}


.bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que a barra fique acima do conteúdo */
    background-color: white; /* Cor de fundo para a barra */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar a barra */
  }

@media (max-width: 720px) {
    
    .menu-esquerdo, .menu-direito {
        display: none;
    }

    .Tudo {
        grid-template-columns: 1fr;
    }

    .hotbar {
        grid-template-columns: 1fr; /* 1 coluna */
    
        .botoes {
            display: flex;
            flex-direction: row;
            
            .button{
                width: 50%;
    
                .foodImg {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
    
                &:disabled {
                    background-color: #fcf9f5;
                    cursor: not-allowed;
                }
            }
        }
    }
}