.tudo {
    display: flex;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    min-width: 100%;
    border-left: 1px solid #fcf9f5;
    background-color: #fcf9f5;

    .buttons {
        display: flex;
        min-width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-around;

        button {
            padding-top: 5px;
            height: 2rem;
            width: 2rem;
            background-color: #fcf9f5;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;

            .icone {
                width: 20px;
                height: 20px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.custom-popover .MuiPaper-root {
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.popup-carrinho {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    border-radius: 20px;

    .topo {
        display: flex;
        justify-content: space-between;
        width: 300px;
        border-bottom: 1px solid rgb(212, 211, 211);
        padding: 0px 0px 10px 0px;

        p {
            font-size: 18px;
        }

        button {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            color: grey;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .loja {
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border:1px solid rgb(212, 211, 211);
        margin: 10px 0px 0px 0px;

        .icone-conteudo {
            display: flex;
            width: 100%;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 10px;
                margin: 0;
            }

            .conteudo {
                width: 100%;
                display: flex;
                align-items: top;
                justify-content: space-between;
                padding: 0px 5px;

                .info {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    p {
                        font-weight: 500;
                    }

                    h6 {
                        color: grey;
                    }
                }

                button {
                    background-color: #fff;
                    border: none;
                    color: rgb(89, 89, 89);
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                .tres-pontos {
                    display: flex;
                    align-items: top;
                    height: 100%;
                }
            }
        }

        .produto-conteudo {
            display: flex;
            width: 100%;
            border-top: 1px solid rgb(212, 211, 211);
            padding: 5px 0px 5px 0px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                padding: 5px;
                margin: 0;
            }

            .conteudo {
                width: 100%;
                display: flex;
                align-items: top;
                justify-content: space-between;
                padding: 0px 5px;

                .info {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    p {
                        font-weight: 500;
                    }

                    h6 {
                        color: grey;
                    }
                }

                .preco {
                    font-size: 14px;
                    height: 100%;
                    font-weight: 500;
                }
            }
        }

    }

    .baixo {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;

        button {
            background-color: #fff;
            border: 1px solid rgb(212, 211, 211);
            cursor: pointer;
            padding: 5px;
            border-radius: 8px;
            font-size: 12px;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.popup-finalizar {
    min-width: 58vw;
    min-height: 80vh;

    .topo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 0px 10px 0px;

        .botao-sair {
            display: flex;
            justify-content: space-between;
        }

        .subtitulo-pagamento {
            font-size: 24px;
        }

        button {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            color: grey;
            display: flex;
            align-items: center;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.escolha-pagamento {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-bottom: 1px solid rgb(212, 211, 211);
}

.simbol-forma {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-control-forma {
    width: 100%;
}

.radio-group {
    padding-left: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}