.tudo-seg {
    border-right: 1px solid grey;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

.title-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5px;
    height: 50px;
    align-items: center;
    min-width: 100%;

    .alinhamento-button {
        display: flex;
        justify-content: center;
    }

    p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.tudo-ativado {
    background-color: #fcf9f5;
    height: 100%;
    border-right: 1px solid #ffffff;
}

.button-icon {
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

#ativado {
    background-color: #fcf9f5;
}

#desativado {
    background-color: #ffffff;
}