.tudo-perfil {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    min-height: 100%;
}

.voltar {
    width: 10%;
    background-color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.Title-perfil {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    user-select: none;
}

.img-perfil-usu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.onde-fica {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.inputs-usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.editar {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid grey;
    margin-top: 15px;
    padding: 5px 0px;
}

.mostrar {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    padding: 5px 0px;
}

input {
    width: 60%;
    height: 30px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.editar button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 15px;

    &:hover {
        opacity: 0.7;
    }
}

.botaoEditar {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
        border: 1px solid grey;
        background-color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 35%;
        border-radius: 5px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.inputs-usuario p {
    font-family: 'Quicksand', sans-serif;
}

.dentro-input {
    display: flex;
    justify-content: space-around;
}