.td-conteudo-loja {
  width: 60vw; /* Ocupa 60% da largura da tela */
  height: 100%; /* Limita a altura ao tamanho da viewport */
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centraliza horizontalmente */
  align-items: center;
}

.parte-superior-loja {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  width: 100%;
  padding: 75px 10px 0px 10px;
  gap: 20px;
  font-family: 'Quicksand', sans-serif;
}

.parte-esquerda-loja {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  width: 260px;
  align-items: center;

  .nome-loja {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
  }

  .categoria-loja {
    font-size: 18px;
    font-weight: 500;
    color: grey;
  }

  .seguidores {
    font-weight: 400;
    font-size: 16px;
  }
}

.parte-avaliacao-loja {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .Avaliacao-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .quantidade-avaliacao {
    margin-top: 20px;
    font-weight: 500;
  }
}

.parte-meio-loja {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  padding: 50px 40px;

  .filtro-adicionar {
    display: flex;
    flex-direction: row;
    gap: 20px;

    button {
      background-color: #e88099;
      border: none;
      color: white;
      font-family: 'Quicksand', sans-serif;
      padding: 0px 10px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 30px;
      width: 45%;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    .botao-filtro {
      display: flex;
      justify-content: space-between;
    }
  }

  .pesquisa-loja {

    .input-container {

      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      border-radius: 15px;
      height: 30px;
      border: none;

      .button-input {
        display: flex;
        min-width: 90%;
        background-color: #ffffff;
        border-radius: 15px;
        min-height: 100%;
        align-items: center;
      }

      button {
        z-index: 99;
        border: none;
        color: grey;
        background-color: #ffffff;
        border-radius: 0px 15px 15px 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;

        .search-icon {
          background-color: #ffffff;
          width: 20px;
          margin-right: 10px;
          border-radius: 10px;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      input {
        border: none;
        background-color: #ffffff;
        min-width: 80%;
        outline: none;
        border-radius: 0px, 15px;
        min-height: 100%;
        margin-left: 15px;
        font-size: medium;
      }

    }

  }

  .edicao-loja {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    button {
      background-color: #e88099;
      border: none;
      color: white;
      padding: 10px 20px;
      font-family: 'Quicksand', sans-serif;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 30px;
      width: 80%;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.parte-inferior-loja {
  padding-bottom: 100px;
  width: 95%;
}

.Listagem-dentro {

  font-family: 'Quicksand', sans-serif;
  width: 100%;
  padding-top: 20px;
  max-width: 100%;
  user-select: none;

  .texto {
      display: flex;
      padding-bottom: 10px;
      gap: 20px;

      p {
          font-size: 20px;
          font-weight: 500;
      }
  }

  
}

@media (max-width: 720px) {
  .parte-meio-loja {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 40px;
  }

  .parte-superior-loja {
    display: flex;
    flex-direction: column;
    padding: 75px 10px 0px 10px;
    gap: 20px;
  }

  .descricao-loja {
    text-align: center;
    padding-right: 20px;
  }

  .td-conteudo-loja {
    width: 100%;
  }
  
  .parte-superior-loja {
    display: flex;
    align-items: center;
  }

  .parte-esquerda-loja {
    margin-left: 0px;
  }

  .filtro-adicionar {
    display: flex;
    justify-content: space-between;
  }

  .parte-meio-loja {
    .edicao-loja {
      align-items: center;
  
      button {
        width: 100%;
      }
    }
  }
}